
<h2>Argumentos: {{arg}}</h2>
<h2>Sistema operativo: {{SO}}</h2>
<h2>node Version: {{nodeVersion}}</h2>
<h2>rss: {{rss}}</h2>
<h2>path: {{path}}</h2>
<h2>process Id: {{processId}}</h2>
<h2>cpus : {{cpus}}</h2>

